@model WebPBL3.DTO.NewsDto

@{
    ViewData["Title"] = "Tạo Tin Tức";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="Photo" value="0" />

            <div class="form row">
                <div class="form-group col-md-3">
                    <label asp-for="Title" class="control-label">Tiêu đề</label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="Photo" class="control-label">Hình ảnh</label>
                    <input type="file" class="form-control" id="uploadimage" name="uploadimage">
                    <span asp-validation-for="Photo" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="CreateAt" class="control-label">Ngày Tạo</label>
                    <input class="form-control" name="NgayTao" value="@Html.Raw(DateTime.Now.ToString("yyyy-MM-dd").Replace(' ','T'))" type="da   tetime-local" />
                    <span asp-validation-for="CreateAt" class="text-danger"></span>
                </div>
            </div>

            <div class="form row"  >
                <div class="form-group col-md-12" >
                    <label asp-for="Content" class="control-label">Nội dung</label>
                    <textarea class="form-control" name=" Content" id="inputNoiDung" ></textarea>
                    <input type="hidden" asp-for="Content" id="inputContent" /> 
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
            </div>

            <div class="form row" style="display: flex; justify-content: flex-end;">
                <div class="form-group col-md-2">
                    <button type="submit" class="btn btn-primary form-control">Thêm mới</button>
                </div>
                <div class="form-group col-md-2">
                    <a asp-controller="Car" asp-action="CarListTable" class="btn btn-outline-primary border form-control">
                        Quay lại danh sách
                    </a>
                </div>
            </div>

        </form>
    </div>
</div>

