<div class="login-context">
    <div class="login-container">
        <img src="/images/vector-logo.png" alt="Showroom Logo" class="car-logo">
        <h2 style="text-align: center">Quên mật khẩu</h2>
        <form method="post" asp-action="ForgotPassword">
            <p style="text-align: center">Đừng lo lắng hãy nhập vào email của bạn và bắt đầu thiết lập mật khẩu mới!</p>
            @if (TempData["Error"] != null)
            {
                <div class="text-danger">
                    <span><b>Xin lỗi!</b> - @TempData["Error"] </span>
                </div>
            }
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
            <button type="submit" class="btn btn-custom btn-block">Gửi Email</button>
        </form>
        <div class="footer">
            <p>
                Quay trở về <a href="@Url.Action("Login", "Account")">Đăng nhập</a>
            </p>
        </div>
    </div>
</div>