@model WebPBL3.ViewModel.RegisterVM;

<div class="login-context">
    <div class="login-container">
        <img src="/images/vector-logo.png" alt="Showroom Logo" class="car-logo">
        <h2 style="text-align: center">Đăng ký tài khoản</h2>
        <form method="post" asp-action="Register">
            @if (TempData["Error"] != null)
            {
                <div class="text-danger">
                    <span><b>Xin lỗi!</b> - @TempData["Error"] </span>
                </div>
            }
            <div class="form-group">
                <label for="email" asp-for="Email">Email:</label>
                <span asp-validation-for="Email" class="text-danger d-block"></span>
                <input type="email" class="form-control" id="email" asp-for="Email" placeholder="Nhập địa chỉ email của bạn">
            </div>
            <div class="form-group">
                <label for="pwd" asp-for="Password">Mật khẩu:</label>
                <span asp-validation-for="Password" class="text-danger d-block"></span>
                <input type="password" class="form-control" id="pwd" asp-for="Password" placeholder="Nhập mật khẩu của bạn">
            </div>
            <div class="form-group">
                <label for="pwd" asp-for="RetypePassword">Nhập lại mật khẩu:</label>
                <span asp-validation-for="RetypePassword" class="text-danger d-block"></span>
                <input type="password" class="form-control" id="pwd" asp-for="RetypePassword" placeholder="Nhập lại mật khẩu">
            </div>
            <button type="submit" class="btn btn-custom btn-block mt-4">Đăng ký</button>
        </form>
        <div class="footer">
            <p>
                Bạn đã có tài khoản? <a href="@Url.Action("Login", "Account")">Đăng nhập</a>
            </p>
        </div>
    </div>
</div>